@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@300&display=swap');

html,
body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  background-image: url("joshua-hoehne-YPgTovTiUv4-unsplash.jpg");
  font-family: 'Crimson Pro', serif;
  font-weight: bold;
  font-size: larger;
}

#sitename {
  height: 50px;
  width: 250px;
  padding: 10px;
  text-align: center;
  border-radius: 20px;
  background-color: #9ffc53c5;
}

.main-content {
  margin: 5px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.box {
  background-color: #bcfa8293;
  border: 1px solid #c7c7c7;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: inline-block;
  padding: 50px;
  width: auto;
  height: auto;
}

input {
  height: 40px;
  width: 190px;
  text-align: center;
  margin: 10px;
  border: 3px solid #000333;
  border-radius: 15px;
}

#title {
  font-size: xx-large;
  font-weight: bolder;
  margin: 25px;
}

#noun,
#verb,
#synonyms {
  margin-bottom: 15px;
  color: #000000;
  align-self: flex-start;
  /* width: 80%; */
}

.name {
  color: #083f03;
  display: flex;
  align-self: flex-start;
}

.soundicon {
  margin-left: 10px;
  width: 15px;
  height: 15px;
  cursor: pointer;
}

button {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 10px;
  padding: 15px 10px;
  text-align: center;
  text-transform: uppercase;
  background-size: 100% auto;
  color: white;
  border-radius: 10px;
  font-family: cursive;
  font-weight: 700;
  background-image: linear-gradient(45deg, #36ff2f 0%, #68f019 51%, #5fff2f 100%);
  cursor: pointer;
}

button:hover {
  transition: 1s ease;
  background-image: linear-gradient(75deg, #1af806 0%, #67f10b 51%, #53b818 100%);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#displayboard {
  border: 2px solid black;
  background-color: #bcfa82;
  border-radius: 15px;
  height: auto;
  width: 90%;
  margin: 20px;
  transition: 1s ease;
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#image {
  border: 2px solid green;
  height: 200px;
  width: 200px;
  margin: 15px;
  border-radius: 15px;
}

.invisible {
  display: none;
}

.discription {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 20px;
  width: 50%;
}

/* custom scroll bar  */
/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(179, 247, 133);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3cff00;
}

/* work needed unoptimised for mobile  */
@media only screen and (max-width: 800px) {

  .flex {
    flex-direction: column;
  }

  .discription {
    margin: 20px;
    width: 90%;
  }

  .name {
    display: inline-block
  }
}